<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\style_index.css" />
    <link rel="icon" href="assets\favicon1.ico">
    <title>E-Waaah</title>
  </head>
  <body>
    <section class="container">
      <header>
        <div class="logo">
          <img src="assets\broken1.png" alt="" />
          <span>E-Waaah</span>

        </div>
        <div class="icon"><div>
        </div>
      </header>

      <video src="assets\video1.mp4" muted loop autoplay ></video>
      <div class="overlay"></div>

      <div class="text" style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));padding :5px 5px;">
        <h1>E̶-̶W̶a̶s̶t̶e̶  to E-Waaah</h1>
        <p>
          E-Waste has been an impending problem with it's management increasing by the minute.
          E-Waaah is a solution.
        </p>
        <a href="/getstarted">Get Started</a>
      </div>
    </section>

  <!-- <div class="right-col">

        <img src="./assets/play-button.png" id='audio_icon'>
  </div>
  <audio id='song'>
      <source src="./assets/Wind.mp3" type="audio/mp3">
  </audio> -->


    <div class="menu">
      <ul>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/contact">Contact</a></li>
        <br>
        <li><img src="assets\play-button.png" id='audio_icon' style="color: #D62AD0"></li>
        <audio id='song'>
            <source src="assets\Wind.mp3" type="audio/mp3">
        </audio>
      </ul>
    </div>

    <script>
      const hamburger = document.querySelector(".icon");
      const container = document.querySelector(".container");
      hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        container.classList.toggle("active");
      });
      var mySong= document.getElementById("song");
      var icon= document.getElementById("audio_icon");

      icon.onclick= function(){
        if(mySong.paused){
          mySong.play();
          icon.src= "assets\pause.png";
        }else{
          mySong.pause();
          icon.src= "assets\play-button.png";
        }
    }
    </script>


  </body>
</html>
